/* ===== CONTAINER ===== */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  font-family: "Helvetica Neue", Arial, sans-serif;
  
}

/* ===== CARD ===== */
.auth-card {
  background: #fff;
  width: 400px;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.08);
  text-align: center;
}

/* ===== HEADINGS ===== */
.auth-card h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

.subtitle {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 2rem;
}

/* ===== FORM ===== */
.auth-form input {
  width: 100%;
  padding: 0.9rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: 0.3s;
}

.auth-form input:focus {
  border-color: #000;
  outline: none;
}

/* ===== BUTTON ===== */
.auth-btn {
  width: 100%;
  padding: 0.9rem;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 1rem;
}

.auth-btn:hover {
  background: #222;
}

/* ===== FORGOT ===== */
.forgot {
  text-align: right;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.forgot span {
  cursor: pointer;
  color: #000;
}

.forgot span:hover {
  text-decoration: underline;
}

/* ===== DIVIDER ===== */
.divider {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.divider span {
  margin: 0 auto;
  font-size: 0.8rem;
  color: #888;
}

/* ===== GOOGLE BUTTON ===== */
.google-btn {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.google-btn img {
  width: 18px;
}

.google-btn:hover {
  background: #f9f9f9;
}

/* ===== SWITCH ===== */
.switch {
  margin-top: 1.5rem;
  font-size: 0.85rem;
}

.switch span {
  font-weight: 600;
  cursor: pointer;
}

.switch span:hover {
  text-decoration: underline;
}

/* ===== MODAL ===== */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

.modal input {
  width: 100%;
  padding: 0.8rem;
  margin: 1rem 0;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.close {
  display: block;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 0.85rem;
}
